<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Document</title>
  <style>
    html, body {
      height: 100%;
      margin: 0;
    }

    .centered-container {
      display: flex;
      justify-content: center; 
      align-items: center;
      height: 100%;
    }
    
    .centered-content {
      color: red;
      font-size: 2.5rem;
    }
  </style>
</head>
<body>
  <div class="centered-container">
    <div class="centered-content">
      DCal is 6'4" and is 43 years old.
      Julia is 5'8" and is 17 years old.
    </div>
  </div>
</body>
</html>